<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
    <script>
        window.onload = function() {
            document.getElementById("login-username").focus();
        };
    </script>
  </head>
  <body>
    <div class="wrapper">
        <div class="login-tag">
            <label>Login</label>
        </div>
        <form action="/login" method="post">
            <div>
                <label class="login-label">Username</label>
                <input class="form-control" id="login-username" type="text" name="username" />
            </div>
            <div>
                <label class="login-label">Password</label>
                <input class="form-control" type="password" name="password" />
            </div>
            <div>
                <button class="myButton btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
  </body>
</html>
